.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* UNITY GAME INTEGRATION */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
  align-items: center;
  animation-delay: 7s;
  animation: fade-video 7s forwards;
  -webkit-animation: fade-video 1s forwards;
  -webkit-animation-delay: 5s;
}

.video-overlay video {
  width: 100%;
  height: 100%;
}

@keyframes fade-video {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-video {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
